.aside{
    grid-area: aside;
    /* background-color: #fff; */

}


/* ------------------------------------- */


.aside {
    grid-area: aside;
  }
  
.aside__news {
    background-color: #fff;
    padding: 10px 25px;
}
  
.aside__info-icon {
    width: 15px;
    float: right;
    margin-top: 15px;
}
  
.aside__titulo {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 10px 0 30px;
}
  
.aside__titulo-link {
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: -5px;
  }
  
.aside__info-span{
    font-size: 12px;
  }
  


.aside .read-more-link {
    color: #2874b1;
    font-weight: 500;
    margin: 20px 0 10px;
}
  
.sidebra-ad {
    background-color: #fff;
    padding: 15px 25px;
    text-align: center;
    margin: 12px 0;
    font-size: 12px;
}
  
.sidebra-ad img {
    width: 60px;
    border-radius: 50%;
    margin: 4px;
}
  
.sidebra-ad small {
    float: right;
    font-weight: 500;
}
  
.sidebra-ad p {
    margin-top: 30px;
    margin-bottom: 10px;
}
  
.sidebra-ad b {
    display: block;
    font-weight: 500;
    margin-top: 10px;
}
  
.ad-link {
    display: inline-block;
    border: 1px solid #2874b1;
    border-radius: 30px;
    padding: 5px 15px;
    color: #2874b1;
    font-weight: 500;
    margin: 20px auto 10px;
}
  
.sidebar-userful-links {
    padding: 15px 25px;
    text-align: center;
  }
  
.sidebar-userful-links a {
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
}
  
.copyright-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 500;
}
  
.copyright-msg img {
    width: 18px;
    margin-right: 4px;
}