

/* logo linkenid  */
.Logo__img{
    /* height: 60px; */
    width: 50px;
    margin-right: 15px;
    display: block;
}

/* barra de busqueda */

.search__input{
    background-color: transparent;
    padding: 10px;
    outline: none;
    border: 0;
    width: 100%;
    /* color: black; */
    /* border: solid 1px var(--GRIS_SOMBRA);  */
    cursor: pointer;
}


/* ---------------------------------  */



header {
    grid-area: header;
    width: 100%;
    background-color: var(--BLANCO_PURO);
    box-shadow: 2px   var(--GRIS_NEUTRO);
    padding: 0 10px;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: fixed;

}

.header_left{
    display: flex;
    align-items: center;
    /* flex:  0 1 385px; */
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex:  0 1 385px;
}
  
.header__left{
    display: flex;
    align-items: center;
    flex: 0 1 380px;
}
  
  .logo__img {
    width: 35px;
    margin-right: 15px;
    display: block;
}
  
  .search {
    width: 100%; 
    background-color: var(--BLANCO_BARRA);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: 300PX;
    height: 35px;
    margin-right: 220px;
  }
  
  /* TAMAÑO DE ICONO */
  .search__icon {
    font-size: 1.2rem;
  }
  
  .search__input {
    width: 100%;
    background-color: transparent;
    padding: 8px;
    outline: none;
    border: 0;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .navigation__list {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navigation__item {
    display: flex;
    align-items: center;
  }
  
  .navigation__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    text-align: center;
    font-weight: 400;
    min-height: 52px;
    min-width: 85px;
    position: relative;
    transition: 1s;
    text-decoration: none;
    color: var(--GRIS_SCARLA);
  }
  
.navigation__item:hover{
    color: var(--COLOR_2);
    /* border-bottom: solid 2px; */
    /* transition: 0.5s; */
}

.navigation__link::after{
   width: 0;
   position: absolute;
   transition:width 0.3s;
   bottom: 0;
   height: 2px;
   content: '';
}

.navigation__link:hover::after,
.navigation__link.active-link::after{
    width: 100%;
}


  /* perfil */
.navigation_profile{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    
}

.navegacion_item--border{
    border-radius: solid  2px var(--COLOR_2);
    border-bottom: solid 2px;
}


.navigation__icon {
    font-size: 1.5rem;
}